input[type='radio'],
input[type='checkbox'] {
  transform: scale(1);
  /* margin-right: 1em; */
}

th,
td {
  padding: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* background-color: blanchedalmond; */
  background-color: darkcyan;
}
